.wrapper{
    background:#EFEFEF; 
    box-shadow: 1px 1px 10px #999; 
    padding-top: 5px;
}

.WeatherCard {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

.WeatherCardListItem{
    box-shadow: 1px 1px 10px #999; 
    border-radius: 5px;
    margin: 2px;
    height: 200px;
    cursor: pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    height: 200px;
    width: 300px;
    margin: 10px 5px;
}

.WeatherCardListing{
    display: flex;
    flex: start;
    margin: 5px 5px;
}

.WeatherImg{
    height: 50px;
    width: 50px;
    display: flex;
    margin: 5px 5px;
}

.WeatherTempLayout{
    display: flex;
    justify-content: space-between;
}
